body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.time{
    margin-top: 10%;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/old_time.jpg)no-repeat;
    background-size: cover;
    border: none;
    outline: 2px solid red;;
    border-radius: 50%;
}
.time h2{
    color: white;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.time #input-time{
    background-color: rgb(29, 141, 91);
    width: 135px;
    height: 42px;
    color: white;
    font-size: 0.70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}